/* Base card styles */
.card-wrapper {
  padding: var(--space-lg) var(--space-md);
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.card {
  width: 90vw;
  max-width: 120rem;
  background: white;
  border-radius: 20px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
  padding: var(--space-xl);
}

.card-content {
  display: flex;
  flex-direction: column;
}

.card-content > *:not(:last-child) {
  margin-bottom: var(--space-lg);
}

.card-content img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.card-content blockquote {
  border-left: 4px solid var(--accent-color);
  padding-left: var(--space-lg);
}

p:has(em){
  font-size: 0.8rem !important;
  line-height: 140% !important;
  font-weight: 600 !important;
  color: hsl(25, 5.3%, 44.7%) !important;
}

article h2{
  font-size: 2.0625rem;
  line-height: 120%;
  padding-top: 2.2rem;
}

article h1 { 
  font-size: 2.4375rem; 
  line-height: 120%;
}

article p{
  color: #585858;
  font-size: 1.1875rem;
  font-weight: 500;
  padding-top: 1.5rem;
}

article ul,
article ol{
  padding-top: 0.5rem;
}

article li { 
  font-size: 1.1875rem; 
  font-weight: 500; 
  padding-top: 0.1rem;
}

article a{
  font-weight: 700;
  color: var(--accent-color);
}

article a.second-accent{
  background-color: var(--second-accent-color);
}

article ul{
  margin-top: 0rem;
}

article li{
  list-style-type: disc !important;
  margin-left: 1rem;
  position: relative;
  font-weight: 500;
  margin-top: 0.5rem;
}

