*{
    box-sizing: border-box;
    padding: 0;
}

body {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    transition: background 1s ease;
}

section{
    min-height: 1200px;
}

h1{
    
}

/* FONT SIZE */

.size-18{
    font-size: 18px;
}

.size-21{
    font-size: 21px;
}

.size-24{
    font-size: 24px;
}

.size-28{
    font-size: 28px;
}

.size-32{
    font-size: 32px;
}

.size-36{
    font-size: 36px;
}

.size-42{
    font-size: 42px;
}

.size-48{
    font-size: 48px;
}

.size-55{
    font-size: 55px;
}

.size-63{
    font-size: 63px;
}

.size-73{
    font-size: 73px;
}

.size-84{
    font-size: 84px;
}

.size-96{
    font-size: 96px;
}

h1{
    font-weight: 800 !important;
    line-height: normal;
}



