{{ define "main" }}
<article class="mt-10 px-6 py-10 max-w-3xl mx-auto">
    <header class="mb-4">
        <h1 class="content-animate">{{ .Title }}</h1>
        <div class="mt-5 text-stone-500 text-sm flex items-center gap-2 content-animate font-medium">
            <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2, 2006" }}</time>
            {{ with .Params.author }}
            <span>·</span>
            <span>by {{ . }}</span>
            {{ end }}
        </div>
    </header>
    <div class="prose prose-stone max-w-none content-animate">
        {{ .Content }}
    </div>
    <div class="mt-12 flex justify-center border-t border-gray-800/20 pt-6 content-animate">
        <a href="{{ .Permalink | absURL }}"
            class="accent inline-block text-white text-2xl px-5 py-1.5 rounded-full transition-colors duration-300"
            id="shareButton">
            Share This Article
        </a>
    </div>
    <script>
    document.getElementById('shareButton').addEventListener('click', function(event) {
        event.preventDefault(); // Prevent default link behavior

        // Copy current URL to clipboard
        const url = window.location.href;
        navigator.clipboard.writeText(url).then(() => {
            // Change button text to "Copied"
            const button = event.target;
            button.textContent = 'Copied';

            // Change background color to green
            button.classList.remove('accent');
            button.classList.add('copied');

            // Optional: Revert text and color after 2 seconds
            setTimeout(() => {
                button.textContent = 'Share This Article';
                button.classList.remove('copied');
                button.classList.add('accent');
            }, 4000);
        }).catch(err => {
            console.error('Failed to copy URL: ', err);
        });
    });
</script>
<style>
    .accent {
        background-color: #70f; 
    }
    .copied {
        background-color: green; 
    }
</style>

</article>
{{ end }}
