/* #module {
  background-color: #D8D3CE;
} */

.module{
  background-color: #1F1A29;
  color: white;
}

.module h3{
  color: #FFAC0B;
}

#module1 a span{
  color: #F4CD92;
}

#module1 a:hover span{
  color: white;
}

.bg-color-1{
  background-color: #753AF9;
}

.bg-color-2{
  background-color: #642DEF;
}

.bg-color-3{
  background-color: #4D12E4;
}