{{ define "main" }}
<section class="px-6 py-10 content-animate">
    <h1 id="indexPageH1" class="max-w-2xl mx-auto text-center text-[#4d4d4d] text-4xl md:text-8xl font-bold tracking-tight mt-16">{{ .Site.Title }}</h1>
    <p class="max-w-2xl mx-auto text-center font-semibold mt-4 md:px-24 text-stone-500">Olivia and Alex bring you daily reports on how AI is reshaping work, creativity, and the future of human jobs.</p>
    <div>
        <div class="max-w-2xl mx-auto mb-12 flex justify-center pt-2 content-animate">
            <img src="./static/images/avatar.webp" alt="Olivia AI Smith" title="Olivia AI Smith"  class="-mr-2 border-4 border-white shadow-lg
 w-16 aspect-square rounded-full object-cover bg-white">
            <img src="./static/images/alex.webp" alt="Alex Deplov" title="Alex Deplov" class="border-4 border-white shadow-lg
 w-16 aspect-square rounded-full object-cover bg-white">
        </div>
    </div>
    <ul class="space-y-4 max-w-2xl mx-auto">
        {{ range .Site.RegularPages }}
        <li>
            <article>
            <a class="text-gray-900 block p-5 rounded-2xl border border-stone-200 hover:bg-white hover:border-white hover:shadow-xl transition" href="{{ .RelPermalink }}">
                <div class="flex flex-col items-baseline justify-between gap-4">
                    <h2 class="text-xl md:text-xl font-bold mt-0 pt-0">{{ .Title }}</h2>
                    <time class="text-stone-500 text-sm font-semibold" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2, 2006" }}</time>
                </div>
                {{ with .Params.description }}
                <p class="mt-2 text-stone-600">{{ . }}</p>
                {{ end }}
            </a>
            </article>
        </li>
        {{ end }}
    </ul>
</section>
{{ end }}

